html, body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 2em;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 41, 41);
    padding: 10px 20px;
    text-decoration: none;
    height: 60px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.18);
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 55%;
    font-weight: bold;
}
.nav-right{
    margin-left: auto;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    height: 100%;
    transition: box-shadow 0.2s, background 0.2s;
}
nav a:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    background: grey;
}

footer {
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.18);
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}